doctype html
html
  head
    title 검색 결과
  body
    h1 검색 결과
    table
      thead
        tr
          th 게시글번호
          th 제목
          th 내용
          th 작성일시
      tbody
        each post in posts
          tr
            td= post.id
            td= post.title
            td= post.content
            td= new Date(post.created_at).toLocaleString('ko-KR')